<ion-header>

  <ion-navbar>
    <ion-title>register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="registerForm">
  <ion-item [ngClass]="{'error-border':!registerForm.controls.fullname.valid && registerForm.controls.fullname.touched}">
    <ion-label floating>Full Name</ion-label>
    <ion-input formControlName="fullname" type="text" [(ngModel)]="user.fullname"></ion-input>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.fullname.hasError('required') && registerForm.controls.fullname.touched">
        <p>Sorry, field Fullname is required!</p>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.fullname.hasError('pattern') && registerForm.controls.fullname.touched">
      <p>Sorry, only small and capital letters are allowed!</p>
  </ion-item>

  <ion-item [ngClass]="{'error-border':!registerForm.controls.username.valid && registerForm.controls.username.touched}">
    <ion-label floating>Username</ion-label>
    <ion-input formControlName="username" type="text" [(ngModel)]="user.username"></ion-input>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.username.hasError('required') && registerForm.controls.username.touched">
      <p>Sorry, field username is required!</p>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.username.hasError('minlength') && registerForm.controls.username.touched">
      <p>Sorry, minimum username length is 8!</p>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.username.hasError('maxlength') && registerForm.controls.username.touched">
      <p>Sorry, maximum username length is 30!</p>
  </ion-item>

  <ion-item [ngClass]="{'error-border':!registerForm.controls.email.valid && registerForm.controls.email.touched}">
    <ion-label floating>Email Address</ion-label>
    <ion-input formControlName="email" type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.email.hasError('required') && registerForm.controls.email.touched">
        <p>Sorry, field email is required!</p>
  </ion-item>

  <ion-item [ngClass]="{'error-border':!registerForm.controls.password.valid && registerForm.controls.password.touched}">
    <ion-label floating>Password</ion-label>
    <ion-input formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched">
        <p>Sorry, field password is required!</p>
  </ion-item>
  <ion-item *ngIf="registerForm.controls.password.hasError('minlength') && registerForm.controls.password.touched">
      <p>Sorry, minimum password length is 6!</p>
  </ion-item>

  <button ion-button color="light" (click)="register(user)">Register</button>
</form>
