<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-buttons end>
     <button ion-button (click)="logout()">
       <ion-icon name="logout">Logout</ion-icon>
     </button>
   </ion-buttons>
 </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding>
    <ion-segment [(ngModel)]="profile">
      <ion-segment-button value="owner">OWNER</ion-segment-button>
      <ion-segment-button value="vehicle">VEHICLE LIST</ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="profile">
    <ion-list *ngSwitchCase="'owner'">
      <table>
        <td>
          <tr>Name</tr>
          <tr>Username</tr>
          <tr>Email</tr>
          <tr>Phone Number</tr>
        </td>
        <td>
          <tr>:</tr>
          <tr>:</tr>
          <tr>:</tr>
          <tr>:</tr>
        </td>
        <td *ngFor="let profile of profileRef | async">
          <tr> <input type="text" value={{profile.fullname}} readonly></tr>
          <tr> <input type="text" value={{profile.username}} readonly> </tr>
          <tr> <input type="text" value={{profile.email}} readonly></tr>
          <tr> <input type="text" value={{profile.phone}} readonly></tr>
        </td>
      </table>
    </ion-list>

    <ion-list *ngSwitchCase="'vehicle'">
      <ion-list-header>
          Cars
      </ion-list-header>
        <ion-item *ngFor="let car of carList$ | async"
        detail-push navPush="OwnerEditCarPage" [navParams]="{car: car}">
          {{car.model}}
        </ion-item>
      <button ion-button (click)="addCar()">Add Car</button>
    </ion-list>

  </div>
</ion-content>
