<ion-header>
  <ion-navbar>
    <ion-buttons end>
    <button block clear (click)="profile()" ion-button>
      home
    </button>
    </ion-buttons>
    <ion-title>Car Booking Request</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let book of carAccept">
    <div>Book Request For {{book.ownerPlate}} Has Been Accepted</div>
    <button ion-button clear item-end (click) ="viewBookAccept(book)">View</button>
  </ion-item>
  <ion-item *ngFor="let book of carReject">
    <div>Book Request For {{book.ownerPlate}} Has Been Rejected</div>
    <button ion-button clear item-end (click) ="viewBookReject(book)">View</button>
  </ion-item>
</ion-content>
